body {
  font-family: "Georgia", serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  color: #333;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.sidebar {
  background: #ddd9d9;
  padding: 1em;
  box-sizing: border-box;
  flex: 1;
  max-width: 300px;
  text-align: center; /* Center-aligns text in sidebar */
}

.profile-photo {
  width: 100%;
  height: auto;
  border-radius: 50%; /* Make the image circular */
  margin-bottom: 1em;
}

.greeting {
  font-size: 1.5em;
  margin: 0.5em 0; /* Add margin for spacing */
  color: #9e095d;
}

.description {
  font-size: 1em;
  margin-bottom: 1em;
  text-align: center;
}

.contact-icons {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 2em;
}

.contact-icons li {
  display: inline;
}

.contact-icons a {
  color: #333;
  font-size: 2.5em;
  transition: color 0.3s;
}

.contact-icons a:hover {
  color: #9e095d;
}

.content {
  flex: 2;
  padding: 1em;
  box-sizing: border-box;
}

.site-header {
  background: #7b0447;
  color: white;
  text-align: center;
  padding: 1em 0;
  margin-bottom: 1em;
  width: 100%; /* Ensures it spans the width of the content area */
}

.site-header h1 {
  margin: 0;
  font-size: 2em;
}

.post {
  margin-bottom: 2em;
}

.post-header {
  display: flex;
  align-items: center;
}

.post-logo img {
  width: 50px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
  margin-right: 1em;
}

.post-title {
  font-size: 1.5em;
  margin: 1em;
}

.post-title a {
  text-decoration: none;
  color: #9e095d;
}

.post-title a:hover {
  text-decoration: underline;
}

.post-description {
  margin: 0.5em 0 0 0;
  color: #555;
}

.site-footer {
  background: #7b0447;
  color: #fff;
  text-align: center;
  padding: 0.5em 0.5em;
  margin-top: 2em;
}

@media (max-width: 768px) {
  .container {
      flex-direction: column;
  }
  .sidebar {
      max-width: 100%;
  }
}
